.table {
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height + $toolbar-height + $formula-height;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    flex-direction: row;
    min-height: 2rem;
    height: $row-height;
  }

  .row-info {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: $info-cell-width;
    height: 100%;
    border: 1px solid $border-color;
    background: #f8f9fa;
    border-top: none;
    position: relative;
  }

  .row-data {
    display: flex;
  }

  .column {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f8f9fa;
    min-width: 4rem;
    width: $cell-width;
    border: 1px solid $border-color;
    border-top: 0;
    border-left: 0;
    height: 100%;
    position: relative;
  }

  .row-info.selected,
  .column.selected {
    background-color: #e8eaed;
  }

  .row,
  .column {
    user-select: none;
  }

  .cell {
    min-width: 4rem;
    padding: 5px;
    width: $cell-width;
    height: 100%;
    border: 1px solid #e2e3e3;
    border-top: 0;
    border-left: 0;
    color: #111;
    white-space: nowrap;
    outline: none;
    caret-color: transparent;

    &.selected {
      // border: none;
      caret-color: unset;
      border: 2px solid $color-primary;
      z-index: 2;
    }
  }
}
