$header-height: 5.6rem;
$toolbar-height: 4rem;
$formula-height: 2.4rem;
$row-height: 2.4rem;
$info-cell-width: 4rem;
$cell-width: 12rem;
$db-header-height: 6.4rem;

// COLORS 

$color-primary: #3c74ff;
$border-color: #bdc3c7;
